// Primary_Button 
$primary_btn_clr:#0000FF;
$primary_btn_width:200px;
$primary_btn_height:50px;


// Secondary_Button
$secondary_btn_clr:green;
$secondary_btn_width:250px;
$secondary_btn_height:50px;

:export{
    PrimaryColor:$primary_btn_clr;
    SecondaryColor:$secondary_btn_clr;
}

.Primary_Class{
    background-color: $primary_btn_clr;
    width:$primary_btn_width;
    height: $primary_btn_height;
    margin-left: 20px;
    cursor: pointer;
    color:white;
    border-radius:5px;
    margin-top:10px;
    border-color:blue;
    border-radius: 5px;
    transition-duration: 0.3s;
    transition: right .14s ease-in,left 0s ease-in,top 0s ease-in,bottom 0s ease-in;
    overflow: visible;

   
    &:hover{
        background-color:#4169E1 ;
        color:white;
        transform: translateZ(0);
    }
}

.Secondary_Class{
    background-color: $secondary_btn_clr;
    width:$secondary_btn_width;
    height: $secondary_btn_height;
    margin-left: 20px;
    margin-top:10px;
    cursor: pointer;
    border:1px solid green;
    border-radius: 5px;
    color:white;

    &:hover{
        background-color: yellowgreen;
    }
}